*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}

body {
  background-image: url("img/podio2.jpg");
  background-repeat: no-repeat;
  background-position: right;
  background-size: cover;
}
#asd li {
  list-style-type: none;
}
#asd {
  display: flex;
  justify-content: space-evenly;
  height: 200px;
  align-items: flex-end;
}
#asd li:nth-child(2){
  margin-left: -283px;
  margin-right: -337px;
}

#lol {
    width: 70%;
    position: absolute;
    top: 0px;
    left: 60%;
    transform: translate(-50%, -50%);
    color: red;
    font-size: xx-large;
    animation : scende 4s linear forwards 2s;

    opacity: 0;
}
@keyframes scende {
  0% {top:0px;left:60%; opacity:0;}
  50%{top:0px; left:60%;}
  75%{top:20px; left:60%;}
  100%{top:50px; left:60%;opacity:1;}
}
